</main>
<!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>MediSana</h3>
              <p>
                AV. Coruña y Madrid <br>
                Floresta, Quito<br><br>
                <strong>Telefono:</strong>  0998092548 - 0987278597<br>
                <strong>Email:</strong> mediSana@gmail.com<br>
              </p>
              <!-- Redes sociales , conforme tengan redes sociales, le integramos en el footer
                <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
              -->              
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Links</h4>
            <ul>              
                <li><i class="bx bx-chevron-right"></i><a href="pacientes">Pacientes</a></li>
                <li><i class="bx bx-chevron-right"></i><a href="logindoc">Mis datos</a></li>
                <li><i class="bx bx-chevron-right"></i><a href="home">Cerrar Sesion</a></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>MediSana</span></strong>. All Rights Reserved - {{ year }}  
      </div>
      <div class="credits">Designed by {{ names }}</a>
      </div>
    </div>
  </footer>
  <!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="/assets/vendor/counterup/counterup.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="/assets/js/main.js"></script>
</body>
</html>