<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="home" class="logo mr-auto">MediSana</a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="tratamiento">Tratamiento</a></li>
          <li><a href="loginpac">Mis datos</a></li>
          <li><a href="home">Cerrar Sesion</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>
  <main id="main">
        <br>
        <br>
        <br>
        <br>