<body>
    
<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <i class="icofont-clock-time"></i> Lunes - Sabado, 8AM - 10PM
      </div>
      <div class="d-flex align-items-center">
        <i class="icofont-phone"></i> Llamanos: 0998092548 - 0987278597
      </div>
    </div>
  </div>

<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <a href="home" class="logo mr-auto"><img src="assets/img/log.png" alt="">MediSana</a>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="home">Inicio</a></li>
          <li><a href="about">Nosotros</a></li>
          <li><a href="services">Servicios</a></li>
          <li><a href="departments">Especialidades</a></li>
          <li><a href="doctors">Doctores</a></li>
          <li><a href="contact">Contactos</a></li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="register" class="appointment-btn scrollto"><span class="d-none d-md-inline">Registro</span></a>

    </div>
  </header>
  <main id="main">
        <br>
        <br>
        <br>