{{> header }}
{{> navbar }}

<section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Nosotros</h2>
          <p>El centro de fisioterapia se encargará de orientar y atender al usuario cubriendo las necesidades actuales y futuras.
            <br> Terapia Física y Estética
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>V</h3>
            <p class="font-italic">
              nosotros....
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i> U.</li>
              <li><i class="icofont-check-circled"></i> D.</li>
              <li><i class="icofont-check-circled"></i> E.</li>
            </ul>
            <p>
              .....
            </p>
          </div>
        </div>

      </div>
      

       <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
          <a href="assets/img/gallery/gallery1.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery1.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery2.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery2.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery3.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery3.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery4.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery4.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery5.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery5.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery6.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery6.jpeg" alt=""></a>

        </div>

      </div>
    </section><!-- End Gallery Section -->

      
    </section>


{{> footer }}