{{> header }}
{{> navbar }}

<section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <p>El centro de fisioterapia se encargará de orientar y atender al usuario cubriendo las necesidades actuales y futuras.
            <br> Terapia Física y Estética
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="/assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Somos una institución privada que fusiona experiencia y cuidado de la salud, comprometidos con el bienestar de nuestros usuarios, el paciente y su familia,       
                con profesionales calificados y tecnología para ofrecerle servicios de salud integral con calidad y calidez, , con convicciones Cristianas y Dominicanas.</h3>
            <p class="font-italic">
              nosotros....
            </p>
            <ul>
              <li><i class="icofont-check-circled"></i>Seguridad</li>
              <li><i class="icofont-check-circled"></i>Calidad</li>
              <li><i class="icofont-check-circled"></i>Experiencia</li>
            </ul>
          </div>
        </div>

      </div>
      

       <!-- ======= Gallery Section ======= -->
    <section id="gallery" class="gallery">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Gallery</h2>
        </div>

        <div class="owl-carousel gallery-carousel" data-aos="fade-up" data-aos-delay="100">
          <a href="assets/img/gallery/gallery1.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery1.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery2.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery2.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery3.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery3.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery4.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery4.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery5.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery5.jpeg" alt=""></a>
          <a href="assets/img/gallery/gallery6.jpeg" class="venobox" data-gall="gallery-carousel"><img src="assets/img/gallery/gallery6.jpeg" alt=""></a>

        </div>

      </div>
    </section><!-- End Gallery Section -->

      
    </section>


{{> footer }}