{{> header }}
{{> navbar }}

<section id="departments" class="departments">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>ESPECIALIDADES</h2>
          <p> 	ESPECIALIDADES QUE SE VA A BRINDAR (DENTRO DEL ÁREA DE LA FISIOTERAPIA,
             TANTO MÉTODOS COMO TÉCNICAS DANDO SU RESPECTIVA EXPLICACIÓN).</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-4 mb-5 mb-lg-0">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-toggle="tab" href="#tab-1">
                  <h4>Fisioterapia y Rehabilitación</h4>
                  <p>Realización de rehabilitaciones.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-2">
                  <h4>Diagnóstico fisioterapéutico</h4>
                  <p>Profesion liberal, del area de la salud,sujeto de atención son el individuo la 
                    familia y la comunidad, en el ambiente en donde se desenvuelven.
                  </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-3">
                  <h4>Terapia respiratoria</h4>
                  <p>Evaluación y diagnóstico de los desordenes posturales.</p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-4">
                  <h4>Terapia manual ortopédica </h4>
                  <p> Área de especialización dentro de la Fisioterapia destinada a la evaluación y tratamiento de las disfunciones artro-neuro-musculares. </p>
                </a>
              </li>
              <li class="nav-item mt-2">
                <a class="nav-link" data-toggle="tab" href="#tab-5">
                  <h4>Terapia neurológica </h4>
                  <p> Terapias para personas con daño cerebral . </p>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-lg-8">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <h3>Fisioterapia y Rehabilitación</h3>
                <p class="font-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                <img src="/static/assets/img/departments-1.jpg" alt="" class="img-fluid">
                <p>Se realizará las rehabilitaciones que el fisiatra prescriba al paciente o se le brindará el servicio que el paciente tenga si es referido o exista el cambio de centro de fisioterapia. </p>
              </div>
              <div class="tab-pane" id="tab-2">
                <h3>Diagnóstico fisioterapéutico</h3>
                <p class="font-italic">La fisioterapia es una profesion liberal, del area de la salud,sujeto de atención son el individuo la 
                  familia y la comunidad, en el ambiente en donde se desenvuelven.</p>
                <img src="/static/assets/img/departments-2.jpg" alt="" class="img-fluid">
                <p>Se les evaluara a los usuarios luego de ser referidos del doctor o fisiatra para establecer un tratamiento adecuado a su molestia o patología que presente en ese momento. </p>
              </div>
              <div class="tab-pane" id="tab-3">
                <h3>Terapia respiratoria</h3>
                <p class="font-italic">Tratamientos, prevención y estabilización
                  de las diferentes enfermedades del aparato respiratorio</p>
                <img src="/static/assets/img/departments-3.jpg" alt="" class="img-fluid">
                <p>Es una especialidad de la fisioterapia que se encarga del tratamiento, prevención y estabilización
                   de las diferentes enfermedades del aparato respiratorio con el fin de mantener o mejorara la función 
                   respiratoria de las personas.</p>
              </div>
              <div class="tab-pane" id="tab-4">
                <h3>Terapia manual ortopédica </h3>
                <p class="font-italic">La OMT integra toda la información y experiencia de la Terapia Manual aplicada desde la antigüedad, la Fisioterapia Clásica, la Medicina Deportiva, la Medicina Ortopédica, la Osteopatía y la Quiropraxia, aglutinadas bajo un denominador común, la evidencia clínica y científica. </p>
                <img src="/static/assets/img/departments-4.jpg" alt="" class="img-fluid">
                <p>Se tomará en cuenta la patología que tenga el paciente para la realización de las diferentes técnicas y
                   toma de test que están dentro de la terapia manual ortopédica, se podrá trabajar el cuerpo en conjunto por 
                   cadenas o segmentos. La terapia manual nos permitirá ubicar la posición de reposo del cuerpo o tratar los 
                   tejidos blandos específicamente para un movimiento o estiramiento.
                  </p>
              </div>
              <div class="tab-pane" id="tab-5">
                <h3>Terapia neurológica </h3>
                <p class="font-italic">La OMT integra toda la información y experiencia de la Terapia Manual aplicada desde la antigüedad, la Fisioterapia Clásica, la Medicina Deportiva, la Medicina Ortopédica, la Osteopatía y la Quiropraxia, aglutinadas bajo un denominador común, la evidencia clínica y científica. </p>
                <img src="/static/assets/img/departments-4.jpg" alt="" class="img-fluid">
                <p>Se realizará terapias para personas con daño cerebral con el fin de mejorar el movimiento, reducir la
                   espasticidad, estimular la musculatura afectada, mejorar la sensibilidad, disminuir el dolor, trabajar
                    en el equilibrio y la capacidad de marcha, ayudar a las personas a realizar sus actividades de la vida
                   diaria de la mejor manera. 
                  </p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section>

{{> footer }}