{{> header }}
{{> navbar }}

<section id="services" class="services services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>ESPECIALIDADES</h2>
      <p> 	ESPECIALIDADES QUE SE VA A BRINDAR (DENTRO DEL ÁREA DE LA FISIOTERAPIA,
          TANTO MÉTODOS COMO TÉCNICAS DANDO SU RESPECTIVA EXPLICACIÓN).</p>
    </div>

    <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-heart-beat"></i></div>
            <h4 class="title"><a href="">Fisioterapia y Rehabilitación</a></h4>
            <p class="description">Realización de rehabilitaciones.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4 class="title"><a href="">Diagnóstico fisioterapéutico</a></h4>
            <p class="description">Profesion liberal, del area de la salud,sujeto de atención son el individuo la 
                familia y la comunidad, en el ambiente en donde se desenvuelven.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="icofont-dna-alt-2"></i></div>
            <h4 class="title"><a href="">Terapia respiratoria</a></h4>
            <p class="description">Evaluación y diagnóstico de los desordenes posturales.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-heartbeat"></i></div>
            <h4 class="title"><a href="">Terapia manual ortopédica </a></h4>
            <p class="description">Área de especialización dentro de la Fisioterapia destinada a la evaluación y tratamiento de las disfunciones artro-neuro-musculares. </p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-autism"></i></div>
            <h4 class="title"><a href="">Terapia neurológica </a></h4>
            <p class="description">Terapias para personas con daño cerebral . </p>
          </div>
        </div>
  </div>
</section>

{{> footer }}