{{> header }}
{{> navlogdoc }}
<div>
    <td>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control">EnfermedadX
        </div>
    </td>
    <tr>
        <td>
            <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input">
                </div>
            </div>
            <label type="text" class="form-control">EnfermedadX
        </div>
        </td>
    </tr>
    
</div>

{{> footer }}