{{> header }}
{{> navlogdoc }}

 <section id="doctors" class="doctors section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row">

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                    <img src="/assets/img/doctors/doctors-1.jpg" class="img-fluid" alt="">
                </div>              
                </div>
            </div>

            <div class="member-info">
                <h4>Walter White</h4>
                <span>Fisioterapeuta</span>
            </div>

        </div>

      </div>
</section>

{{> footerdoc }}
