{{> header }}
{{> navlogdoc }}

<div class="tab-pacientes">
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Diagnostico</th>
                <th scope="col">Opciones</th>
            </tr>
        </thead>
        {{#each paciente}}
        <tr>
            <th scope="col">{{this.nombre}} {{this.apellido}}</th>
            <th scope="col">{{this.tratamiento}}</th>
            <th>
                <!---<a href="form_pred" class="btn btn-warning" title="Dar de alta">&#10004;</a>--->
                <a href="enfermedad?id={{this._id}}" class="btn btn-success">Diagnosticar</a>
            </th>
        </tr>
        {{/each}}
    </table>
</div>


{{> footerdoc }}
