{{> header }}
{{> navlogdoc }}

<div class="tab-pacientes">
    <table class="table">
    <thead class="thead-light">
        <tr>
        <th scope="col">Nombre</th>
        </tr>
    </thead>    
        {{#each paciente}}
        <tr>        
            <th scope="col">{{this.nombre}}  {{this.apellido}}</th>
        </tr>
        {{/each}}
    </table>
</div>


{{> footerdoc }}