{{> header }}
{{> navbar }}

    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
<div class="container">
  {{> errors }}
</div>
    <!-- Icon -->
    <div class="fadeIn first">
        <br>
      <h1>Registro</a></h1>
      <br>
    </div>

    <!-- Login Form -->
    <form action="/register" method="POST">
          <input type="text" id="nombre" name="nombre" class="fadeIn second" placeholder="Nombre" required value="{{nombre}}">
          <input type="text" id="apellido" name="apellido" class="fadeIn second" placeholder="Apellido" required value="{{apellido}}">
          <input type="email" id="email" name="email" class="fadeIn second" placeholder="correo" required value="{{email}}">
          <input type="password"  pattern=".{8,}" title="Debe contener al menos 8 caracteres" id="password" name="password" class="fadeIn second" placeholder="Contraseña" required>
          <input type="submit" value="Submit" class="fadeIn second">
        </form>

    <!-- Remind Passowrd --
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
    -->
  </div>
</div>





{{> footer }}