{{> header }}
{{> navbar }}

    <div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <br>
      <h1>Registro</a></h1>
      <br>
    </div>

    <!-- Login Form -->
    <form>
          <input type="text" id="nombre" name="nombre" class="fadeIn second" placeholder="Nombre">
          <input type="text" id="apellido" name="apellido" class="fadeIn second" placeholder="Apellido">
          <input type="email" id="email" name="email" class="fadeIn second" placeholder="correo">
          <input type="password"  pattern=".{8,}" id="password" name="password" class="fadeIn second" placeholder="Contraseña">
          <input type="submit" value="Submit" class="fadeIn second">
        </form>

    <!-- Remind Passowrd --
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>
    -->
  </div>
</div>





{{> footer }}