{{> header }}
{{> navlogdoc }}


<div class="section-title">
    <h2>Tratamiento</h2>

</div>
<div class="container" data-aos="fade-up">
    <p>El paciente <b>{{user}}</b> necesita realizar una {{y_pred.tratamiento}}
        de acuerdo a su estado de salud. </p>
</div>


{{> footerdoc }}
