{{> header }}
{{> navbar }}

<section id="services" class="services services">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Servicios</h2>
          <p>Somos el centro de rehabilitación con más servicios ofrecidos, incorporando nuevos servicios todos los años.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-heart-beat"></i></div>
            <h4 class="title"><a href="">Magento</a></h4>
            <p class="description">Tratamiento para favorecer la regeneración del tejido óseo</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-drug"></i></div>
            <h4 class="title"><a href="">Compresas Químicas</a></h4>
            <p class="description">Sustancias químicas que al ponerse en contacto se produce una reacción química exotérmica con elevación rápida e intensa de la temperatura</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="icofont-dna-alt-2"></i></div>
            <h4 class="title"><a href="">Laser</a></h4>
            <p class="description">Laser en fisioterapia implica enviar un rayo electromagnético a una zona determinada del cuerpo humano, en este caso con fines terapéuticos.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon"><i class="icofont-heartbeat"></i></div>
            <h4 class="title"><a href="">Ultrasonido</a></h4>
            <p class="description">Ultrasonido se utiliza para tratar lesiones, inflamación de tendones, cicatrices</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon"><i class="icofont-disabled"></i></div>
            <h4 class="title"><a href="">Maquina de Presoterapia</a></h4>
            <p class="description">Utilizada en fisioterapia en aquellas patologías que cursan con un déficit del retorno venoso</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon"><i class="icofont-autism"></i></div>
            <h4 class="title"><a href="">Ventosas</a></h4>
            <p class="description">Técnica de la medicina tradicional china que busca el alivio del dolor músculo-esquelético.</p>
          </div>
        </div>

      </div>
    </section>

{{> footer }}